body {
  margin: 0;
}

#header {
  background-color: rgb(21,130,171);
  padding: 4px 0 4px 0;
}

#header-inner {
  color: white;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  float:left;
  width: 600px;
  font-size: 27px;
  text-shadow: #FFF 1px 1px 5px;
}

#auth {
  float:left;
  width: 360px;
  margin-top: 10px;
}

#entry {
  float: right;
  margin-top: -8px;
}

#name {
  width: 170px;
  margin-top: 4px;
}

#begin {
  margin-top: 4px;
}

#photo {
  height: 34px;
  width: 34px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-top: -3px;
  display: none;
}

#center {
  width: 960px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#left {
  float: left;
  width: 600px;
}

#right {
  float: left;
  width: 360px;
}

.tray {
  margin-bottom: 10px;
  width: 576px;
  background-color: #EEE;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 4px 0 4px 10px;
}

.tray-name {
  font-size: 20px;
  text-shadow: #888 1px 0px 1px;
}

.bbf-button {
  cursor: pointer;
  float:left;
  border-radius: 4px;
  margin: 4px 8px 4px 0px;
  height: 48px; width: 48px;
  background-size:48px 48px;
  background-repeat:no-repeat;
}

.bbf-button:hover {
  opacity: 1;
}

.bbf-button.pushed {
  margin: 11px 19px 9px 1px;
}

.B1 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/StarWarsLd3up.gif);
}
.B2 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/DataBrowserLj0up.gif);
}
.B3 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/Oval3DLd0.gif);
}
.B4 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/SubmarineLf3.gif);
}
.B5 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/UfoDd4up.gif);
}
.B6 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/UfoLa4up.gif);
}
.B7 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/Wooshdown.gif);
}
.B8 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/quote.gif);
}
.B9 {
  background-image: url(/http://rawgithub.com/lorenwest/big-button-factory/master/publicimg/2w.jpg);
}
.B10 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/3w.jpg);
}
.B11 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/4w.jpg);
}
.B12 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/clock.png);
}
.B13 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/beetle.png);
}
.B14 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/blixw3.jpg);
}
.B15 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/bu_rund2_8w.jpg);
}
.B16 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/croo5w.jpg);
}
.B17 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/crown.png);
}
.B18 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/horse.png);
}
.B19 {
  background-image: url(http://rawgithub.com/lorenwest/big-button-factory/master/public/img/man.png);
}

/* mobile */
@media (max-width: 960px){
  #header-inner {
    width: 640px;
  }
  #center {
    width: 640px;
  }
}